#editor main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#viewport {
    padding: 0;
}

#renderer {
    width: 512px;
    height: 512px;

    background: none;
}

#stack-layers {
    position: absolute;
    top: 1em; right: 1em;
    width: 60px;
    height: 48px;

    margin: 0;
    appearance: unset;
    background-color: var(--button-color);

    border-radius: 1em;

    opacity: 50%;
}

#stack-layers input {
    appearance: unset;
    margin: 0;
    appearance: unset;
    border-radius: inherit;

    position: absolute;
    width: 100%; height: 100%;
}

#stack-layers input + svg {
    color: black;

    pointer-events: none;
    width: 32px; height: 32px;

    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

#stack-layers input:checked {
    background: blue;
}

#stack-layers input:checked + svg {
    color: white;
}

#layer-select {
    gap: 2px;
}

#layer-select label {
    background-color: var(--button-color);
}

#layer-select *:checked + :not(input) {
    background: blue;
}

#layer-select label :not(input) {
    filter: invert();
}

#layer-select label *:checked + :not(input) {
    filter: none;
}

#layer-select label :not(input) {
    width: 100%; height: 100%;
    position: absolute;
    border-radius: inherit;
}

#option-select label :not(input) {
    width: 100%; height: 100%;
    position: absolute;
    border-radius: inherit;
    object-fit: contain;

    image-rendering: auto;
}

#option-select *:checked + :not(input) {
    background: blue;
}

#option-select label :not(input) {
    filter: brightness(0);
}

#option-select label *:checked + :not(input) {
    filter: none;
}

#palette-select label :not(input) {
    position: absolute;
    border-radius: none;

    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

#middle {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#layer-options {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: stretch;
}

#option-select {
    flex: 1;
    gap: 2px;
}

#palette-select {
    flex: 1;
}

#palette-select input[type="radio"]:checked {
    background: blue;
}

#layer-select label {
    width: 64px;
}

#tools {
    display: grid;
    gap: 1em;
    grid-template-areas:
        "tool   color"
        "brush  color"
        "bar    bar  ";
}

#tool-select {
    grid-area: tool;

    display: flex;
    flex-direction: row;
}

#brush-select {
    grid-area: brush;
}

#color-select {
    grid-area: color;
}

#toolbar {
    grid-area: bar;
}

#layer-select > :nth-child(2) {
    border-radius: 1em 1em 0 0;
}

#layer-select > :nth-last-child(2) {
    border-radius: 0 0 1em 1em;
}

#layer-select > button {
    border-radius: 1em;
}

#layer-select > :first-child {
    margin-bottom: 1em;
}

#layer-select > :last-child {
    margin-top: 1em;
}
