#player {
    position: absolute;
    width: 100%; height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding: 1em;
    padding-bottom: 0;
    gap: 1em;
}

#player-container {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#player-menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1em;

    height: 32px;

    align-self: center;
}

#player-menu button {
    background-color: black;
    color: white;

    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;

    border: 1px solid white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

#player-menu a {
    background-color: black;
    color: white;

    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    border-radius: 1em;
}

#editor main {
    display: grid;
    grid-template-areas: 
        "scene   scene"
        "view    view "
        "tool    color"
        "brush   color"
        "pattern color"
        "bar     bar  ";
}

#scene-select {
    grid-area: scene;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}

#scene-select label {
    aspect-ratio: 160 / 100;
    background: none;
}

#scene-select *:checked + :not(input) {
    box-shadow: 0 0 0 .5em white;
    z-index: 5;
}

#scene-select label :not(input) {
    filter: none;
}

#scene-select label :not(input) {
    width: 100%; height: 100%;
    position: absolute;
}

#viewport {
    grid-area: view;
}

#tool-select {
    grid-area: tool;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#brush-select {
    grid-area: brush;
}

#pattern-select {
    grid-area: pattern;
}

#color-select {
    grid-area: color;
}

#toolbar {
    grid-area: bar;
}

#jump-bar {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

#jump-source-color {
    background-color: #d27d2c;
}

#jump-source-color {
    text-align: center;
    padding: .5em;

    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#jump-source-color svg {
    pointer-events: none;
    width: 24px;
    height: 24px;
}

#jump-destination-select {
    padding: .5em;

    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    background-color: var(--button-color);
}
