:root {
    --button-color: #ffd800;
}

html, body {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1em; gap: 1em;

    background: #367b6b;
    border-radius: 2em;
}

main h1 {
    font-size: 1.5rem;
    margin: 0;
}

#scene-select {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1em;
}

#scene-select label {
    aspect-ratio: 160 / 100;
}

#tools {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}

#tool-select {
    grid-column: 1 / span 4;
    grid-row: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

#tool-select label {
    aspect-ratio: unset;
    min-height: 3em;

    background-color: var(--button-color);
}

#tool-select input[type="radio"]:checked {
    border: none;
    background: blue;
}

#tool-select img {
    filter: brightness(0);
}

#tool-select input[type="radio"]:checked + img {
    filter: none;
}

#tool-select label { border-radius: 0; }
#tool-select label:first-child { 
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em; 
}
#tool-select label:last-child { 
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em; 
}

#brush-select {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 0;
}

#brush-select label {
    background-color: var(--button-color);
}

#brush-select input[type="radio"]:checked {
    border: none;
    background: blue;
}

#brush-select img {
    filter: brightness(0);
}

#brush-select input[type="radio"]:checked + img {
    filter: none;
}

#brush-select label { border-radius: 0; }
#brush-select label:nth-child(1) { border-top-left-radius: 1em; }
#brush-select label:nth-child(4) { border-top-right-radius: 1em; }
#brush-select label:nth-last-child(4) { border-bottom-left-radius: 1em; }
#brush-select label:nth-last-child(1) { border-bottom-right-radius: 1em; }

#color-select {
    grid-column: 5 / span 4;
    grid-row: 1 / span 4;

    gap: 0;
    /* gap: .25em; */
    /* background: black; */

    /* border: solid .25em black; */
    /* border-radius: 1.25em; */
    /* overflow: hidden; */
}

#color-select label { border-radius: 0; }
#color-select label:nth-child(1) { border-top-left-radius: 1em; }
#color-select label:nth-child(4) { border-top-right-radius: 1em; }
#color-select label:nth-last-child(4) { border-bottom-left-radius: 1em; }
#color-select label:nth-last-child(1) { border-bottom-right-radius: 1em; }

#viewport {
    flex: 1;
    background: gray;
    border-radius: 1em;
    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#renderer {
    width: 640px;
    height: 400px;
    background: magenta;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.button-row button {
    flex: 1;
    white-space: nowrap;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1em;
}

.grid8 {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 1em;
}

.radio-select {
    --highlight-thickness: .5em;
}

.radio-select label {
    position: relative;

    margin: 0;
    appearance: unset;
    background-color: black;
}

.radio-select input[type="radio"] {
    margin: 0;
    appearance: unset;
    border-radius: inherit;

    position: absolute;
    width: 100%; height: 100%;
}

.radio-select input[type="radio"]:checked {
    /*box-shadow: 0 0 0 var(--highlight-thickness) white;*/
    border: solid var(--highlight-thickness) white;

    animation-name: selection-flash;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.radio-select label img {
    pointer-events: none;
    position: absolute;
    left: 50%; top: 50%;
    width: 32px; height: 32px;
    transform: translate(-50%, -50%);
}

@keyframes selection-flash {
    0% {
        border-color: black;
    }

    100% {
        border-color: white;
    }
}
