:root {
    --button-color: #ffd800;

    --trans-color-1: rgb(32, 32, 32);
    --trans-color-2: rgb(48, 48, 48);
    --trans-gradient: repeating-linear-gradient( -45deg, var(--trans-color-1), var(--trans-color-1) .5em, var(--trans-color-2) .5em, var(--trans-color-2) 1em );

    font-family: sans-serif;
}

html, body {
    margin: 0; padding: 0;
    width: 100vw; min-height: 100vh;
}

body {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
}

#player {
    position: absolute;
    width: 100%; height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding: 1em;
    padding-bottom: 0;
    gap: 1em;
}

#player-container {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#player-menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1em;

    height: 32px;

    align-self: center;
}

#player-menu button {
    background-color: black;
    color: white;

    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;

    border: 1px solid white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

#player-menu a {
    background-color: black;
    color: white;

    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    border-radius: 1em;
}

#editor {
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}

#editor main {
    padding: 1em;
    background: #367b6b;
    border-radius: 2em;
    gap: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#help {
    font-family: monospace;
    font-size: large;

    display: flex;
    padding: 1em;
    gap: 1em;

    overflow: hidden scroll;
}

#help [name="help"] {
    position: absolute;
    top: 1em; right: 1em;
}

#help button {
    padding: 0 1em;
    height: 32px;
}

#help p {
    margin: 0;
}

#help a {
    color: var(--button-color);
}

#help a:hover {
    color: white;
}

#help a:visited {
    color: gray;
}

#help ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1em;
    padding: 0;
    gap: .5em 1em;
    list-style: none;

    align-content: center;
}

#scene-select {
    grid-area: scene;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
}

#scene-select label {
    aspect-ratio: 160 / 100;
    background: none;
}

#scene-select *:checked + :not(input) {
    box-shadow: 0 0 0 .5em white;
    z-index: 5;
}

#scene-select label :not(input) {
    filter: none;
}

#scene-select label :not(input) {
    width: 100%; height: 100%;
    position: absolute;
}

.grid8 label :not(input) { border-radius: 0; }
.grid8 label:nth-child(1) :not(input) { border-top-left-radius: 1em; }
.grid8 label:nth-child(8) :not(input) { border-top-right-radius: 1em; }
.grid8 label:nth-last-child(8) :not(input) { border-bottom-left-radius: 1em; }
.grid8 label:nth-last-child(1) :not(input) { border-bottom-right-radius: 1em; }

#viewport {
    grid-area: view;
}

#tool-select {
    grid-area: tool;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#tool-select input[type="radio"]:checked + img {
    filter: invert();
}

#brush-select {
    grid-area: brush;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
}

#pattern-select {
    grid-area: pattern;
}

#color-select {
    grid-area: color;
}

#color-select input[type="radio"]:checked {
    background: none;
    z-index: 5;

    animation-name: selection-flash;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#toolbar {
    grid-area: bar;
}

#jump-bar {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    overflow: hidden;
}

#jump-source-color {
    background-color: #d27d2c;
}

#jump-source-color {
    text-align: center;
    padding: .5em;

    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#jump-source-color svg {
    pointer-events: none;
    width: 24px;
    height: 24px;
}

#jump-destination-select {
    grid-column: 2 / -1;

    padding: .5em;

    border: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    background-color: var(--button-color);
}

#viewport {
    position: relative;
    display: flex; flex-direction: column;
    border-radius: 1em;

    background: var(--trans-gradient);
    padding: .65em;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#help {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    color: white;
    background-color: #000000DD;
    /* border-radius: 1em; */

    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: auto;
}

#renderer {
    width: 640px;
    height: 400px;
    background: magenta;

    touch-action: none;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

button {
    flex: 1;
    white-space: nowrap;

    border: none;
    border-radius: 1em;
    background-color: var(--button-color);

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: .25em;
}

button:active {
    filter: invert();
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.grid4 label { border-radius: 0; }
.grid4 label:nth-child(1) { border-top-left-radius: 1em; }
.grid4 label:nth-child(4) { border-top-right-radius: 1em; }
.grid4 label:nth-last-child(4) { border-bottom-left-radius: 1em; }
.grid4 label:nth-last-child(1) { border-bottom-right-radius: 1em; }

.grid8 label { border-radius: 0; }
.grid8 label:nth-child(1) { border-top-left-radius: 1em; }
.grid8 label:nth-child(8) { border-top-right-radius: 1em; }
.grid8 label:nth-last-child(8) { border-bottom-left-radius: 1em; }
.grid8 label:nth-last-child(1) { border-bottom-right-radius: 1em; }

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.grid8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.radio-select label {
    position: relative;

    margin: 0;
    appearance: unset;
    background-color: var(--button-color);

    min-height: 3em;
}

.radio-select input[type="radio"] {
    margin: 0;
    appearance: unset;
    border-radius: inherit;

    position: absolute;
    width: 100%; height: 100%;
}

.radio-select label img, .radio-select label svg, button img, button svg {
    pointer-events: none;
    width: 32px; height: 32px;
}

.radio-select label img, .radio-select label svg {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.radio-select input[type="radio"]:checked {
    border: none;
    background: blue;
}

.radio-select img {
    filter: brightness(0);
}

.radio-select svg {
    color: black;
}

.radio-select input[type="radio"]:checked + svg {
    color: white;
}

.radio-select input[type="radio"]:checked + img {
    filter: none;
}

@keyframes selection-flash {
    0%   { box-shadow: 0 0 0 .5em black; }
    100% { box-shadow: 0 0 0 .5em white; }
}

.horizontal-capsule {
    display: flex;
    flex-direction: row;
}

.horizontal-capsule > * {
    flex: 1;
}

.horizontal-capsule > :first-child {
    border-radius: 1em 0 0 1em;
}

.horizontal-capsule > :last-child {
    border-radius: 0 1em 1em 0;
}

.vertical-capsule {
    display: flex;
    flex-direction: column;
}

.vertical-capsule > * {
    flex: 1;
}

.vertical-capsule > :first-child, .vertical-capsule > :first-child[hidden] + * {
    border-radius: 1em 1em 0 0;
}

.vertical-capsule > :last-child, .vertical-capsule > :first-child[hidden] ~ :nth-last-child(2) {
    border-radius: 0 0 1em 1em;
}

:focus {
    outline: thick solid white;
    z-index: 5;
}
:focus:not(:focus-visible) { 
    outline: unset 
}

:focus + * {
    z-index: 5;
}

.hanging-menu {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1em;

    height: 32px;
}

.hanging-menu button {
    background-color: var(--button-color);

    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;

    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
