#about-tab-body.column(hidden)
    details
        summary about
        p bipsi is a tool for making small games where a character explores a world and interacts with its inhabitants. it is a clone of adam ledoux's <a href="http://www.bitsy.org/">bitsy game maker</a>
        p i'm <a href="https://kool.tools/">candle</a>, a long time bitsy user and tool maker
    details
        summary overview
        p a bipsi game, much like bitsy, is a collection of connected <em>rooms</em> that the player character can explore, interacting along the way to see <em>dialogue</em> and perhaps a final <em>ending</em>
        p visually, a <em>room</em> is an arrangement of 8x8 pixel <em>tiles</em> colored according to a three color <em>palette</em>. a base <em>background</em> color, a <em>foreground</em> color for most tiles, and a <em>highlight</em> color for flourishes--especially interactible elements called <em>events</em>
        p a hidden layer of <em>walls</em> determine how the player character can traverse a room, and some <em>events</em> may also be <em>solid</em>
        p <em>events</em> in a room respond to the player (attempting to) walk into them: they might trigger <em>dialogue</em>, or move the player character to another <em>location</em>, remove themselves from the <em>room</em>, or trigger an <em>ending</em>
    details
        summary project tab
        p in the project tab you can play the game as it currently stands, <em>export</em> the game as a playable html file, <em>import</em> a previous <em>export</em> for editing, or <em>reset</em> the editor to a default project
        p remember that you need a player <em>event</em> in one of the <em>rooms</em> in order to play your game!
    details
        summary palettes tab
        p in the palettes tab you can change all the <em>palette</em> colors in the project while looking at a preview of a <em>room</em> for reference
    details
        summary draw tiles tab
        p in the draw tiles tab you can edit all the graphics <em>tiles</em> in the project. each <em>tile</em> has two frames which it animates between, which are presented here side by side with an animation preview and <em>room</em> preview for context
        p an array of arrow buttons allow you to shift, rotate, flip, mirror, and invert the pixels of a frame easily, and to copy and paste between frames
    details
        summary draw rooms tab
        p in the draw rooms tab you can browse all the <em>rooms</em> in the project and edit the <em>tile</em> placement and <em>walls</em> in them
        p <em>hold alt</em> to switch temporarily to picker tool that copies any tile you click on
        p <em>hold shift</em> while drawing <em>walls</em> to set every instance of the clicked <em>tile</em> in the <em>room</em> into <em>walls</em>
    details
        summary events tab
        p in the events tab you can edit all the <em>events</em> in the selected <em>room</em>
        p in the <em>room</em> preview panel <em>events</em> can be selected, copied, pasted, deleted, and moved 
        p when an empty <em>position</em> is selected, a new <em>event</em> can be created from one of the templates. an <em>event</em> created in this way is the same as any other <em>event</em> but has some prefilled <em>data fields</em>
        p when an <em>event</em> is selected, you can add, remove, reorder, and delete its <em>data fields</em>
    details
        summary event data fields
        p appearance and initialisation:
        ul
            li <em>graphic (tile):</em> draw the event as this tile (otherwise its invisible)
            li <em>solid (tag):</em> block player movement onto this event
            li <em>is-player (tag):</em> used to mark this event as the player character at the beginning of the game
            li <em>game-title (dialogue):</em> if this event is on the player character at the beginning, show the dialogue as a title 
        p interaction:
        ul
            li <em>say (dialogue):</em> show this dialogue
            li <em>exit (location):</em> move the player character
            li <em>ending (dialogue):</em> show this dialogue as an ending
            li <em>one-time (tag):</em> remove this event after interacting

